.card {
    height: 150px;
    display: flex;
    align-items: center;
}

div.card[class*="w3-"] img {
    display: none;
}
div.card[class*="w3-gray"] img {
    display: block;
}

.sidebar {
    display:none;
    z-index: 10;
}

.pointer {
    cursor:pointer;
}

.controls {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    padding: 5px;
}

@media (min-width: 768px) {
    .card {
        height: 200px;
    }

    .card-container {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .card {
        height: 250px;
    }

    .card-container {
        padding: 15px;
    }
}