.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.card-container {
    padding: 5px;
}

.easy {
    width: calc(100% / 6);
}

.easy .card {
    min-height: 200px;
}

.medium {
    width: calc(100% / 6);
}

.medium .card {
    min-height: 150px;
}

.hard {
    width: calc(100% / 6);
}

.hard .card {
    min-height: 100px;
}

.expert {
    width: calc(100% / 6);
}

.expert .card {
    min-height: 80px;
}

div.card[class*="w3-"] img {
    display: none;
}
div.card[class*="w3-gray"] img {
    display: block;
}

.sidebar {
    display:none;
    z-index: 10;
}

.pointer {
    cursor:pointer;
}

.controls {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .card-container {
        padding: 10px;
    }

    .easy {
        width: calc(100% / 6);
    }

    .easy .card {
        min-height: 300px;
    }

    .medium {
        width: calc(100% / 6);
    }

    .medium .card {
        min-height: 250px;
    }

    .hard {
        width: calc(100% / 8);
    }

    .hard .card {
        min-height: 250px;
    }

    .expert {
        width: calc(100% / 10);
    }

    .expert .card {
        min-height: 250px;
    }
}

@media (min-width: 992px) {
    .card-container {
        padding: 15px;
    }

    .easy .card {
        min-height: 250px;
    }

    .medium .card, .hard .card, .expert .card {
        min-height: 200px;
    }

}